<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="DataBase" connectionString="Data Source=LAPTOP-2GOMS78E\\SQLEXPRESS; Initial Catalog = TransferAndBooking; Integrated Security=True"
		 providerName="System.Data.SqlClient" />
		<add name="OrderSystemProject.Properties.Settings.DatabaseOrdersConnectionString"
		 connectionString="Data Source=LAPTOP-2GOMS78E\\SQLEXPRESS; Initial Catalog = TransferAndBooking; Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>